<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Multiroom Chat</title>		

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">		
		<link href="css/style.css" rel="stylesheet">

		<script type="text/javascript">		
			$(document).ready(function(){
				$("#exibe_chat").click(function(){
					$("#conversa").show();
					$("#participantes").hide();
					ocultaNavbar();
				});
				
				$("#exibe_participantes").click(function(){
					$("#participantes").show();
					$("#conversa").hide();
					ocultaNavbar();
				});
			});
			
			function ocultaNavbar(){
				$("#btn_navbar_toggle").attr("class","navbar-toggle collapsed");
				$("#navbar-collapse-1").attr("class","navbar-collapse collapse");
				$("#btn_navbar_toggle").attr("aria-expanded","false");
				$("#navbar-collapse-1").attr("aria-expanded","false");
			}			
		</script>
		
	</head>
	<body>	
		<div class="container">
			<nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top" role="navigation">
				<a class="navbar-brand" href="/">Multiroom Chat</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" id="btn_navbar_toggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>				
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" id="exibe_chat" href="#">Chat </span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="exibe_participantes" href="#">Participantes</a>
						</li>
					</ul>
				</div>
			</nav>			
		</div>

		<div class="container">
            <div class="conversa" id="conversa">
				<div class="col-md-12" id="dialogo"></div>             
            </div>			
			<div class="participantes" id="participantes">
				<div class="col-md-12"></div>               
            </div>
		</div>	
			
		<nav class="navbar navbar-default fixed-bottom" role="navigation">
			<div class="container">
				<div class="col-md-12">				
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Mensagem" id="mensagem" name="mensagem">
						<input type="hidden" id="apelido" name="apelido" value="<%=dadosForm.apelido%>">
						<input type="hidden" id="0" name="apelido_atualizado_nos_clientes">
						<div class="input-group-prepend">						
							<input type="submit" id="enviar_mensagem" name="enviar_mensagem" class="btn btn-outline-primary form-control" value=">>">
						</div>	
					</div>
				</div>
			</div>
		</nav>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io('http://localhost');
			
			$('#enviar_mensagem').click(function(){
				socket.emit(
					'msgParaServidor',
					{
						apelido: $('#apelido').val(),
						mensagem: $('#mensagem').val(),
						apelido_atualizado_nos_clientes : $('#apelido_atualizado_nos_clientes').val()
					}
				);
				$('#mensagem').val("");
				$('#apelido_atualizado_nos_clientes').val(1);
			});	

			socket.on('msgParaCliente', function(data){
				var html = '';
				html += '<div class="dialogo">';
				html += '<h4>'+ data.apelido +'</h4>';
				html += '<p>'+ data.mensagem +'</p>';
				html += '</div>';	

				$('#dialogo').append(html);
				window.scrollTo(0, document.body.scrollHeight);
			});

			socket.on('participantesParaCliente', function(data){
				var html = '';
				html += '<span class="participante">';
				html += '<img src="img/ico_usuario.png">';
				html += data.apelido;
				html += '</span>';				
				$('#dialogo').append(html);
			});
		</script>
	</body>
</html>